@media (min-width: 1200px) {
  .email {
    width: 43%;
  }
}

@media (max-width: 1200px) {
  .email {
    width: 70%;
  }
}
.email {
  background: white;
  padding: 2rem;
  margin: auto;
  margin-top: 2.5rem;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.name {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.name_holder {
  width: 45%;
}

.input2 {
  padding-bottom: 15px;
}
.EmailForm > h1 {
  text-align: center;
  padding-bottom: 0;
}
hr {
  width: 50px;
}

.EmailForm {
  height: 600px;
}

.submit_email_btn {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #191654, #43c6ac);
  background: -webkit-linear-gradient(to right, #191654, #43c6ac);
  color: white;
  font-size: 15px;
  background-size: 200%;
  background-position: left;
  cursor: pointer;
}

.submit_email_btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: linear-gradient(to right, #191654, #43c6ac);
  background-position: right;
  animation: bg-animation 1.5s;
}

.submit_email_btn:active,
.submit_email_btn:focus {
  outline: none;
  border: none;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.btn_container {
  display: flex;
  justify-content: center;
  padding: 1rem 0 1rem 0;
}

.success_message {
  width: 90%;
  margin: auto;
  padding: 1rem;

  color: #2b7515;
  background: #ecffd6;
  border: 1px solid #617c42;
}
.warn_message {
  width: 90%;
  margin: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
}
