.me > h1 {
  text-align: center;
  padding: 20px 0;
}

.me > hr {
  width: 50px;
  margin: auto;
}

.random {
  width: 80%;
  margin: auto;
  border: 1px solid black;
}

.me {
  margin-bottom: 150px;
}

@media (max-width: 600px) {
  .me {
    padding-top: 50px;
  }
}
