.Skills {
  width: 60%;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

/* .title_skill {
  height: 500px;
  display: flex;
  align-items: center;
  font-size: 100px;
  background-color: rgb(56, 19, 19);
} */
.container {
  padding-bottom: 10px;
}

hr {
  width: 95%;
  height: 1px;
  background: grey;
  margin: auto;
}

.container > h1 {
  text-align: center;
}

.hrr {
  width: 50px;
  margin: auto;
  height: 1px;
}

.line {
  display: flex;
  flex-direction: column;
  height: 950px;
}

h1 {
  text-align: center;
}

@media (max-width: 1000px) {
  #h1_slider {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.spacing {
  margin-top: 50px;
}

.h1_myskills {
  height: 830px;
  background: black;
  color: White;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.h1_myskills > h1 {
  font-size: 100px;
}

.double_arrows {
  display: flex;
  justify-content: space-evenly;
  background: black;
  height: 100px;
}

.double_arrows_second {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
}

.animation {
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
  text-align: center;
  min-width: 300px;
  cursor: pointer;
}

@keyframes example {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.animation_down_to_up {
  animation-name: example_down_to_up;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
  text-align: center;
  min-width: 300px;
  cursor: pointer;
}

@keyframes example_down_to_up {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

#h1_frontend {
  margin-top: 50px;
}

.one_arrow {
  display: flex;
  justify-content: center;
}
