.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 10px 25px 10px;
    margin: auto;
    
}

.visitwebsite {
    width: 150px;
}

@media(max-width:800px){
    .preview {
        display: none;
        
    }
}

.left {
    margin-left: 0;
    width: 150px;
    justify-content: left;
}

