@media (min-width:800px){
    .skill {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    height: 300px;
    margin: auto;
    padding-bottom: 20px;
    width: 50%;
}
}

@media (max-width:800px){
    .skill {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        height: 300px;
        margin: auto;
        padding-bottom: 20px;
        width:100%;
}

}
.skill > h3 {
    margin-top: 10px;
    
    
}
.skill > img {
    width: 40%; 
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    padding-left: 20px;
    padding-right: 20px;

}

.skill:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


